* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .column-1 {
    background: #D7E8D4;
    flex: 1;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    flex: 3;
    min-height: 60vh;
  }
  .content > aside {
    background: beige;
    flex: 1;
  }
  header, footer {
    background: yellowgreen;
    height: 20vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-image: url('myPhoto.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
.portrait-pic {
    display: block;
    margin: 0 auto;
    margin-left: -25%; //centers the image
    height: 100%;
    width: auto;
}
#name {
    font-size: 72px
}
#title {
    font-size: 48px
}
#quote {
    font-size: 30px
}
#whoSaidIt {
    font-size: 24px
}
